BOT_TOKEN=123456:replace_me
MASTER_CHAT_ID=
ADMIN_IDS=
TIMEZONE=Europe/Moscow
BRAND_NAME=Studio Liana Nails
INSTAGRAM_URL=https://instagram.com/studio_liana_nails
CONTACT_PHONE=+7 999 123-45-67
ADDRESS=Москва, ул. Петровка, 21
MAP_URL=https://yandex.ru/maps
